/* Base
-------------------------------------------------- */
// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 80%; // 93.8% = 15px base
    height: 100%;
}

body {
	height: 100%;
	font-family: $typography__family-default;
	color: $color__dark-gray;
	font-size: $typography__size-4;
	font-weight: $typography__weight-medium;
	letter-spacing: .01em;
	line-height: $typography__line-height-solid;
	background-color: #fff;
}

#spark-app,
main {
	height: 100%;
}