/* Variables
-------------------------------------------------- */
$__primary-color: $color__brand-primary;

/* Buttons
-------------------------------------------------- */
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	font-family: $typography__family-headers;
	background-color: $__primary-color;
	border: $border__width-default solid $__primary-color;
	border-radius: $radius__default;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: .85rem;
	font-weight: $typography__weight-bold;
	letter-spacing: .1rem;
	padding: $size__spacing-default/2;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	@include transition(all .15s ease-in);

	&.input-height {
		// height: $input__height;
		line-height: $input__height;
		padding: 0 $size__spacing-default;
	}

	&:focus,
	&:hover {
		color: #fff;
		outline: 0;
		@include solid-button-hover($__primary-color);
		@include transition(all .15s ease-in);
	}

	&:visited {
		color: #fff;
	}

	&[disabled] {
		cursor: default;
		opacity: .5;

		&:focus,
		&:hover {
			background-color: $__primary-color;
			border-color: $__primary-color;
		}
	}
}
