/* Links
-------------------------------------------------- */
a {
	color: $color__brand-primary;
	text-decoration: none;
	outline: 0;

	.icon path,
	.icon polygon {
		fill: $color__brand-primary;
	}

	&:visited {
		color: $color__brand-primary;
	}
	&:hover,
	&:focus,
	&:active {
		color: darken($color__brand-primary, 10%);
		outline: 0;
	}
}

p a:not(.button) {
	font-weight: $typography__weight-bold;
}

/* Custom
-------------------------------------------------- */