/* Variables
-------------------------------------------------- */

/* Panel
-------------------------------------------------- */
.panel {
	.panel-heading {
		padding-bottom: $size__spacing-default;
		margin-bottom: $size__spacing-small;

		.panel-title, .controls {
			margin-bottom: 0;
		}
	}

	.panel-footer {
		margin: $size__spacing-large 0;
		background-color: $color__light-gray;
		padding: $size__spacing-default;
	}
}

.panel-comments {
	.list-group li {
		border-bottom: 0;
	}
}

/* Custom
-------------------------------------------------- */
