/* Variables
-------------------------------------------------- */


/* Sections
-------------------------------------------------- */
section {
	background-color: #fff;

	.section-heading {
		padding-bottom: $size__spacing-default;
		margin-bottom: $size__spacing-default;

		h1, h2, h3 {
			margin-bottom: 0;
			line-height: 1;
			display: inline-block;
		}
	}
}

/* Utilities
-------------------------------------------------- */
