/* Variables
-------------------------------------------------- */
$__size__spacing-default: $size__spacing-small;

/* Headers
-------------------------------------------------- */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6, {
	font-family: $typography__family-headers;
    font-weight: $typography__weight-bold;
	font-size: $typography__size-3;
    line-height: $typography__line-height-header;
    color: $color__near-black;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: $__size__spacing-default;
}

/* Body
-------------------------------------------------- */
p {
	margin-top: 0;
    line-height: $typography__line-height-copy;
	font-weight: $typography__weight-light;
}

b, strong {
    font-weight: $typography__weight-bold;
}

p, blockquote, hr, pre, ol, ul, dl, table, figure, address, form {
	margin-bottom: $__size__spacing-default;
}

hr {
    border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	margin-top: -1px;
}

blockquote {
	margin-left: 0;
	margin-right: 0;
	padding-left: $__size__spacing-default;
	border-left: .3rem solid $color__near-black;
	font-style: italic;
	color: $color__near-black;
    position: relative;
    right: -$__size__spacing-default;

	& p {
    	margin-bottom: 0;
	}
}

pre {
    width: 100%;
    padding: $__size__spacing-default;
    margin-top: 0;
    background-color: $color__light-gray;
    border-radius: $radius__default;
    overflow-x: auto;
}

code {
    font-family: Consolas, monaco, monospace;
    font-size: 60%;
    color: $color__mid-gray;
}


/* Utility
-------------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;

    &:focus {
        background-color: $color__near-white;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        color: $color__black;
        display: block;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/* Custom
-------------------------------------------------- */
.upper-title {
    text-transform: uppercase;
    font-size: $typography__size-5;
    font-weight: $typography__weight-xbold;
    letter-spacing: .1em;
}
